.title {
  background-color: transparent;
  color: black;
  width: 100%;
  height: 100%;
}

.remove-btn {
  margin-right: 0.5rem;
}

.fade-enter{
  opacity:  0.01;
}

.fade-enter-active{
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

body{
  background-image: url("./imgs/homeBG.png");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

body, html{
  height: 100%;
}

.workoutSelect {
  transition: color .5s;
  color: black;
}

.workoutSelect:hover {
  background-color: rgb(51, 51, 51);
  color: white;
}

.createRoutine{
  transition: color .5s;
  color: black;
  border: 2px solid black;
  font-size: 300%;
  margin-left: 28%;
  text-align: center;
  padding: 1%;
}

.createRoutine:hover{
  background-color: rgb(61, 60, 60);
  color: rgb(1, 221, 1);
  text-decoration: none;
}

.test {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.box{
  width: 30%;
  height: 100%;
  margin: 1vh;
  position: relative;
  padding-top: 1%;

}

.box3{
  width: 62%;
  height: 100%;
  margin-top: 1% ;
  padding-top: 2%;
  margin-left: .8%;
}

.inactive{
  display: inline-block;
  border: 2px solid black;
  transition: background-color 1s ;
}

.active{
  background-color: rgb(61, 60, 60);
  color: rgb(1, 221, 1);
  display: inline-block;
  border: 2px solid black;
}